# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.zed/*

# cache directories
.cache
**/.cache
**/.tmp

# project files
node_modules
dist
dist-ssr
coverage
build-storybook.log
*.tsbuildinfo
**/*.tsbuildinfo
*.local
**/*.local
lerna-debug.log
.local/


# environment variables
.env
.env.*
**/.env
**/.env.*
